In [211]:
import pandas as pd
import numpy as np

Let's take a lot at the data.

In [212]:
df = pd.read_csv("data/train.csv", index_col = ["id"])
df.head()

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1
5      NaN      NaN  All residents asked to 'shelter in place' are ...       1
6      NaN      NaN  13,000 people receive #wildfires evacuation or...       1
7      NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [213]:
df.info()
# df["keyword"].value_counts()
#df["location"].value_counts()
#df["target"].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7613 entries, 1 to 10873
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   keyword   7552 non-null   object
 1   location  5080 non-null   object
 2   text      7613 non-null   object
 3   target    7613 non-null   int64
dtypes: int64(1), object(3)
memory usage: 297.4+ KB

In [214]:
X_train = df.drop(["target"], axis = 1)
y_train = df["target"]

In [215]:
X_train.sample(78)

,keyword,location,text
id,,,
9365,survived,Polmont,Just burst out in actual tears of joy when Cai...
6246,hijacking,China,#hot Funtenna: hijacking computers to send da...
5029,eyewitness,Somewhere in Jersey,I liked a @YouTube video http://t.co/YdgiUYdqg...
2920,danger,"St Paul, MN",Training grains of wheat to bare gold in the A...
7010,mayhem,NaN,Mayhem is beautiful
...,...,...,...
10581,windstorm,Chicago,'My Fifty Online Dates and why I'm still singl...
4079,displaced,"Oakland, CA",Historic flooding across Asia leaves hundreds ...
4864,explode,|IG: imaginedragoner,If Ryan doesn't release new music soon I might...
3089,deaths,"the void, U.S.A",@HighQualityBird a reverse situation (lol I do...
7345,obliterate,"Dover, DE",@dicehateme @PuppyShogun This makes sense. Pap...

In [216]:
df["keyword"] = df["keyword"].astype(str)
df["keyword"].replace(to_replace="%20",value = " ", inplace =True, regex = True)

In [217]:
df["keyword"].sample(5)

id
4377     earthquake
10793       wrecked
5157          fatal
5052     eyewitness
8171       rescuers
Name: keyword, dtype: object

In [218]:
import string
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer

def preprocessing(sentence):
    sentence.strip(" ")
    for punctuation in string.punctuation:
         sentence = sentence.replace(punctuation, '')
    for c in sentence:
        sentence.lower()
    sentence = ''.join(char for char in sentence if not char.isdigit())
    tokenized_sentence = word_tokenize(sentence)
    lemmatized = [
        WordNetLemmatizer().lemmatize(word, pos = "v") 
        for word in tokenized_sentence
    ]
    lemmatized = " ".join(lemmatized) 
    return lemmatized

In [219]:
X_train["keyword"] = df["keyword"].apply(preprocessing)
X_train["text"] = df["text"].apply(preprocessing)

In [220]:
X_train["keyword"].sample(10)

id
10704                 wreck
5506                  flame
3016                  death
5002              explosion
2215     chemical emergency
67                   ablaze
9465              terrorism
5505                  flame
3676                destroy
9813                 trauma
Name: keyword, dtype: object

Let's make a function that:
1) Get's all keyword values in a list.
2) For each "nan" if corresponding df["text"] in list df["keyword"] replace.

In [221]:
values = list(X_train["keyword"].unique())

In [222]:
for index, row in X_train.iterrows():
    word_list = row["text"].split(" ")
    if row["keyword"] == "nan":
        for word in word_list:
            if word in values:
                row["keyword"] = word

In [224]:
X_train.head(50)

,keyword,location,text
id,,,
1,earthquake,NaN,Our Deeds be the Reason of this earthquake May...
4,fire,NaN,Forest fire near La Ronge Sask Canada
5,evacuation,NaN,All residents ask to shelter in place be be no...
6,evacuation,NaN,people receive wildfires evacuation order in C...
7,smoke,NaN,Just get send this photo from Ruby Alaska as s...
8,fire,NaN,RockyFire Update California Hwy close in both ...
10,flood,NaN,flood disaster Heavy rain cause flash flood of...
13,fire,NaN,Im on top of the hill and I can see a fire in ...
14,evacuation,NaN,Theres an emergency evacuation happen now in t...
15,tornado,NaN,Im afraid that the tornado be come to our area
16,nan,NaN,Three people die from the heat wave so far
17,flood,NaN,Haha South Tampa be get flood hah WAIT A SECON...
18,flood,NaN,rain flood Florida TampaBay Tampa or days Ive ...
19,nan,NaN,Flood in Bago Myanmar We arrive Bago
20,crash,NaN,Damage to school bus on in multi car crash BRE...
23,nan,NaN,Whats up man
24,nan,NaN,I love fruit
25,nan,NaN,Summer be lovely
26,nan,NaN,My car be so fast
28,nan,NaN,What a goooooooaaaaaal
31,nan,NaN,this be ridiculous
32,nan,NaN,London be cool
33,nan,NaN,Love ski
34,nan,NaN,What a wonderful day
36,nan,NaN,LOOOOOOL
37,nan,NaN,No wayI cant eat that shit
38,nan,NaN,Was in NYC last week
39,nan,NaN,Love my girlfriend
40,nan,NaN,Cooool
41,nan,NaN,Do you like pasta
44,nan,NaN,The end
48,ablaze,Birmingham,bbcmtd Wholesale Markets ablaze httptcolHYXEOHYC
49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy metal RT http...
50,ablaze,AFRICA,AFRICANBAZE Breaking newsNigeria flag set abla...
52,ablaze,"Philadelphia, PA",Crying out for more Set me ablaze
53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...
54,ablaze,Pretoria,PhDSquares mufc theyve build so much hype arou...
55,ablaze,World Wide!!,INEC Office in Abia Set Ablaze httptcoImaomknnA
56,ablaze,NaN,Barbados Bridgetown JAMAICA ÛÒ Two cars set a...
57,ablaze,Paranaque City,Ablaze for you Lord D
59,ablaze,Live On Webcam,Check these out httptcorOINSmEJJ httptcoTjZjiN...
61,ablaze,NaN,on the outside youre ablaze and alive but your...
62,ablaze,milky way,Had an awesome time visit the CFC head office ...
63,ablaze,NaN,SOOOO PUMPED FOR ABLAZE southridgelife
64,ablaze,NaN,I want to set Chicago ablaze with my preach Bu...
65,ablaze,NaN,I gain followers in the last week You Know you...
66,ablaze,"GREENSBORO,NORTH CAROLINA",How the West be burn Thousands of wildfires ab...
67,ablaze,NaN,Building the perfect tracklist to life leave t...
68,ablaze,Live On Webcam,Check these out httptcorOINSmEJJ httptcoTjZjiN...
71,ablaze,England.,First night with retainers in Its quite weird ...

In [207]:
X_train.head()

   keyword location                                               text
id
1       []      NaN  Our Deeds be the Reason of this earthquake May...
4       []      NaN              Forest fire near La Ronge Sask Canada
5       []      NaN  All residents ask to shelter in place be be no...
6       []      NaN  people receive wildfires evacuation order in C...
7       []      NaN  Just get send this photo from Ruby Alaska as s...